@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
}

body {
  padding: 0;
  margin: 0;
  /* background-color: bisque; */
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-image: url(../img/forest_dakIG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*************************/

#page-container {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;

  max-width: 800px;
  margin: 0 auto;
}

/*************************/

#header {
  /*  background-color: aqua; */
}

#header p {
  width: 98%;
  margin: 0;
  padding: 1%;
}

/*************************/

#navbar {
  /* background-color: aquamarine; */

  padding: 1%;
  position: sticky;
  top: 0;
  display: flex;
}

#navbar a {
  text-decoration: none;
  color: black;
  /*  background-color: bisque; */
  padding: 1% 10%;
  margin: 0 auto;
}

/*************************/

#body {
  /* background-color: rgba(0, 0, blue, 0.1); */
  height: 1000px;
  padding: 5px;
}

#body p {
  /* background-color: rgb(219, 127, 255); */
  margin: 10px;
  padding: 10px;
}

/*************************/

#footer {
  background-color: rgb(15, 12, 12);
  color: azure;
  padding: 10px;
}

.footer-title {
  width: 100%;
  text-align: center;
}

#footer div {
  display: flex;
  justify-content: center;
}

#footer p {
  /* color: gray; */
  text-align: center;
  margin: 20px auto 10px;
}
/*************************/
